@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/open-sans-v13-latin_cyrillic_cyrillic-ext-300.eot');
  /* IE9 Compat Modes */
  src: local('Open Sans Light'), local('OpenSans-Light'), url('../fonts/open-sans-v13-latin_cyrillic_cyrillic-ext-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/open-sans-v13-latin_cyrillic_cyrillic-ext-300.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/open-sans-v13-latin_cyrillic_cyrillic-ext-300.woff') format('woff'), /* Modern Browsers */ url('../fonts/open-sans-v13-latin_cyrillic_cyrillic-ext-300.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/open-sans-v13-latin_cyrillic_cyrillic-ext-300.svg#OpenSans') format('svg');
  /* Legacy iOS */
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v13-latin_cyrillic_cyrillic-ext-regular.eot');
  /* IE9 Compat Modes */
  src: local('Open Sans'), local('OpenSans'), url('../fonts/open-sans-v13-latin_cyrillic_cyrillic-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/open-sans-v13-latin_cyrillic_cyrillic-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/open-sans-v13-latin_cyrillic_cyrillic-ext-regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/open-sans-v13-latin_cyrillic_cyrillic-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/open-sans-v13-latin_cyrillic_cyrillic-ext-regular.svg#OpenSans') format('svg');
  /* Legacy iOS */
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/open-sans-v13-latin_cyrillic_cyrillic-ext-600.eot');
  /* IE9 Compat Modes */
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('../fonts/open-sans-v13-latin_cyrillic_cyrillic-ext-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/open-sans-v13-latin_cyrillic_cyrillic-ext-600.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/open-sans-v13-latin_cyrillic_cyrillic-ext-600.woff') format('woff'), /* Modern Browsers */ url('../fonts/open-sans-v13-latin_cyrillic_cyrillic-ext-600.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/open-sans-v13-latin_cyrillic_cyrillic-ext-600.svg#OpenSans') format('svg');
  /* Legacy iOS */
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/open-sans-v13-latin_cyrillic_cyrillic-ext-700.eot');
  /* IE9 Compat Modes */
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('../fonts/open-sans-v13-latin_cyrillic_cyrillic-ext-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/open-sans-v13-latin_cyrillic_cyrillic-ext-700.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/open-sans-v13-latin_cyrillic_cyrillic-ext-700.woff') format('woff'), /* Modern Browsers */ url('../fonts/open-sans-v13-latin_cyrillic_cyrillic-ext-700.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/open-sans-v13-latin_cyrillic_cyrillic-ext-700.svg#OpenSans') format('svg');
  /* Legacy iOS */
}
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/pt-sans-narrow-v7-latin_cyrillic_cyrillic-ext-regular.eot');
  /* IE9 Compat Modes */
  src: local('PT Sans Narrow'), local('PTSans-Narrow'), url('../fonts/pt-sans-narrow-v7-latin_cyrillic_cyrillic-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/pt-sans-narrow-v7-latin_cyrillic_cyrillic-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/pt-sans-narrow-v7-latin_cyrillic_cyrillic-ext-regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/pt-sans-narrow-v7-latin_cyrillic_cyrillic-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/pt-sans-narrow-v7-latin_cyrillic_cyrillic-ext-regular.svg#PTSansNarrow') format('svg');
  /* Legacy iOS */
}
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/pt-sans-narrow-v7-latin_cyrillic_latin-ext_cyrillic-ext-700.eot');
  /* IE9 Compat Modes */
  src: local('PT Sans Narrow Bold'), local('PTSans-NarrowBold'), url('../fonts/pt-sans-narrow-v7-latin_cyrillic_latin-ext_cyrillic-ext-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/pt-sans-narrow-v7-latin_cyrillic_latin-ext_cyrillic-ext-700.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/pt-sans-narrow-v7-latin_cyrillic_latin-ext_cyrillic-ext-700.woff') format('woff'), /* Modern Browsers */ url('../fonts/pt-sans-narrow-v7-latin_cyrillic_latin-ext_cyrillic-ext-700.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/pt-sans-narrow-v7-latin_cyrillic_latin-ext_cyrillic-ext-700.svg#PTSansNarrow') format('svg');
  /* Legacy iOS */
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  position: relative;
  min-width: 320px;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  line-height: 27px;
  background-color: #030303;
  text-align: center;
  margin: 0 auto;
  overflow-y: scroll;
  overflow-x: hidden;
}
.btn {
  text-decoration: none;
  border: 3px solid #ff9900;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
  border-radius: 2px;
  color: #e88705;
  background-color: transparent;
  text-transform: uppercase;
  padding: 7px 20px 5px;
  line-height: 26px;
  cursor: pointer;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
}
.btn:hover {
  background-color: #ff9900;
  color: #ffffff;
}
.btn:active {
  opacity: 0.8;
}
.base-link {
  color: #1e1e1e;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s linear;
}
.base-link:hover {
  color: #ff9900;
  text-decoration: underline;
}
.base-link:active {
  color: #f95d5d;
}
.paginator__item {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #e88705;
  opacity: 0.8;
  cursor: pointer;
}
.paginator__item_active {
  background-color: #e88705;
}
.menu-open {
  display: none;
}
@media (max-width: 768px) {
  .menu-open {
    border: none;
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 28px;
    background-color: #030303;
    width: 58px;
    height: 40px;
    z-index: 1100;
    outline: none;
  }
  .menu-open__open-bar {
    display: block;
    width: 45px;
    height: 3px;
    margin-bottom: 7px;
    background-color: #ff9900;
  }
  .menu-open_hidden {
    z-index: 0;
    visibility: hidden;
  }
}
@media (max-width: 425px) {
  .menu-open {
    width: 50px;
    height: 30px;
    right: 16px;
  }
  .menu-open__open-bar {
    width: 38px;
    height: 3px;
  }
}
.close-btn {
  border: none;
  width: 58px;
  height: 40px;
  background-color: transparent;
  position: absolute;
  right: 31px;
  top: 23px;
  z-index: 1000;
  display: none;
  outline: none;
}
.close-btn::after {
  content: '';
  display: block;
  width: 30px;
  height: 4px;
  background-color: #ff9900;
  position: absolute;
  top: 8px;
  left: 19px;
  transform: rotate(41deg);
}
@media (max-width: 425px) {
  .close-btn::after {
    width: 25px;
    height: 3px;
  }
}
.close-btn::before {
  content: '';
  display: block;
  width: 30px;
  height: 4px;
  background-color: #ff9900;
  position: absolute;
  top: 8px;
  left: 18px;
  transform: rotate(137deg);
}
@media (max-width: 425px) {
  .close-btn::before {
    width: 25px;
    height: 3px;
  }
}
@media (max-width: 768px) {
  .close-btn {
    display: block;
  }
}
@media (max-width: 425px) {
  .close-btn {
    top: 18px;
    right: 17px;
    width: 50px;
    height: 30px;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes fade-in-right {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@-webkit-keyframes fade-in-down {
  0% {
    -webkit-transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes fade-in-down {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@-webkit-keyframes slide-in-down {
  0% {
    -webkit-transform: translateY(-1000px);
  }
  100% {
    -webkit-transform: translateY(0px);
  }
}
@keyframes slide-in-down {
  0% {
    transform: translateY(-1000px);
  }
  100% {
    transform: translateY(0px);
  }
}
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(-2000px);
  }
  100% {
    -webkit-transform: translateX(0px);
  }
}
@keyframes slide-in-right {
  0% {
    transform: translateX(-2000px);
  }
  100% {
    transform: translateX(0px);
  }
}
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(2000px);
  }
  100% {
    -webkit-transform: translateX(0px);
  }
}
@keyframes slide-in-left {
  0% {
    transform: translateX(2000px);
  }
  100% {
    transform: translateX(0px);
  }
}
.page-header {
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  z-index: 1500;
}
@media (max-width: 1070px) {
  .page-header {
    padding: 0;
  }
}
@media (max-width: 768px) {
  .page-header {
    position: relative;
    padding: 40px 0 25px;
    width: 100%;
  }
}
@media (max-width: 425px) {
  .page-header {
    padding: 30px 0;
  }
}
.main-nav {
  max-width: 1440px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .main-nav {
    width: 100%;
    max-width: 768px;
  }
}
@media (max-width: 425px) {
  .main-nav {
    width: 100%;
    max-width: 425px;
    padding: 0 10px;
  }
}
.main-nav__inner {
  padding: 0;
}
.main-nav__items {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
}
.main-nav__link {
  font-size: 18px;
  text-decoration: none;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  padding: 24px;
  border-bottom: 2px solid transparent;
  animation: fade-in 2s ease;
}
.main-nav__link:hover {
  color: #ff9900;
  border-bottom: 2px solid #f95d5d;
  transition: 0.2s;
}
.main-nav__link:active {
  color: #f95d5d;
}
.main-nav__link_active {
  color: #f95d5d;
}
@media (max-width: 1147px) {
  .main-nav {
    padding-left: 10px;
    padding-right: 10px;
  }
  .main-nav__link {
    padding: 24px 8px;
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .main-nav {
    position: absolute;
    top: 60px;
    padding: 0;
    width: 100%;
    display: none;
  }
  .main-nav__items {
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: center;
  }
  .main-nav__link {
    width: 100%;
    padding: 12px 24px;
    font-size: 25px;
    line-height: 30px;
    font-weight: 500;
    background-color: #030303;
    border-top: 1px solid #222222;
    animation: none;
    color: #f2f2f2;
  }
  .main-nav_open {
    display: block;
  }
}
@media (max-width: 425px) {
  .main-nav__link {
    font-size: 20px;
    line-height: 20px;
  }
  .main-nav_open {
    top: 50px;
  }
}
.promo {
  max-width: 1440px;
  margin: 0 auto;
  background: url('../img/footer-black.min.svg') no-repeat center bottom, url('../img/slide-1.jpg') no-repeat center top;
  background-size: 102%, cover;
  position: relative;
}
@media (max-width: 768px) {
  .promo {
    width: 100%;
    max-width: 768px;
  }
}
@media (max-width: 425px) {
  .promo {
    width: 100%;
    max-width: 425px;
    padding: 0 10px;
  }
}
.promo__inner {
  padding: 0;
}
.promo__title {
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
  display: inline-block;
  max-width: 385px;
  opacity: 0.8;
  margin: 0 auto;
}
.promo__title_main {
  font-size: 48px;
  line-height: 48px;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 20px;
  display: inline-block;
}
.promo_inner {
  background: url('../img/footer-orange-rotate.min.svg') no-repeat center 101%, url('../img/slide-2.jpg') no-repeat center top;
  background-size: 101%, cover;
}
.promo__logo {
  display: block;
  margin: 0 auto;
  width: 426px;
  height: auto;
  animation: fade-in 2s ease;
}
.promo__logo_inner {
  margin-left: 160px;
}
.promo__wrapper {
  padding-top: 20%;
  padding-bottom: 19%;
}
.promo__wrapper_gallery {
  padding-bottom: 283px;
}
.promo__paginator {
  display: flex;
  flex-flow: column nowrap;
  position: fixed;
  top: 225px;
  margin-left: 1368px;
  z-index: 2500;
}
.promo__paginator-item {
  margin-bottom: 12px;
  outline: none;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
  -webkit-transform: translateZ(0);
}
.promo__paginator-item:hover {
  background-color: #f95d5d;
  border: 2px solid #f95d5d;
}
.promo__paginator-item:active {
  background-color: #ff9900;
}
.promo__paginator-item:focus {
  background-color: #ff9900;
}
.promo__paginator-item_active {
  background-color: #ff9900;
}
@media (max-width: 1024px) {
  .promo__wrapper {
    padding-bottom: 17%;
  }
  .promo__logo_inner {
    margin-left: 73px;
  }
}
@media (max-width: 768px) {
  .promo {
    background-image: url('../img/footer-black.min.svg'), url('../img/slide-1-tablet.jpg');
  }
  .promo__wrapper {
    padding: 76px 0;
  }
  .promo__logo_inner {
    width: 45%;
    margin-left: 24px;
    margin-bottom: 52px;
  }
  .promo__paginator {
    display: none;
  }
  .promo_inner {
    background-image: url('../img/footer-orange-rotate.min.svg'), url('../img/slide-2-tablet.jpg');
    background-position: center bottom, right 58%;
  }
}
@media (max-width: 425px) {
  .promo {
    background-image: none;
    padding-bottom: 20px;
  }
  .promo__wrapper {
    padding: 27px 0;
  }
  .promo__logo {
    width: 77%;
  }
  .promo__logo_inner {
    margin-left: 51px;
    margin-bottom: 44px;
  }
  .promo__logo_gallery {
    margin: 0 auto;
  }
  .promo__title {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }
  .promo__title_gallery {
    margin-left: 70px;
  }
  .promo_inner {
    background-image: url('../img/footer-orange-rotate.min.svg'), none;
  }
}
.footer {
  max-width: 1440px;
  margin: 0 auto;
  color: #ffffff;
  padding-top: 40px;
  padding-bottom: 40px;
}
@media (max-width: 768px) {
  .footer {
    width: 100%;
    max-width: 768px;
  }
}
@media (max-width: 425px) {
  .footer {
    width: 100%;
    max-width: 425px;
    padding: 0 10px;
  }
}
.footer__inner {
  padding: 0;
}
.footer__wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
.footer__logo {
  width: 288px;
  height: 97px;
  display: block;
  transition: 0.3s linear;
}
.footer__logo:hover {
  opacity: 0.8;
}
.footer__logo:active {
  opacity: 0.5;
}
@media (max-width: 425px) {
  .footer {
    padding-top: 27px;
    padding-bottom: 27px;
  }
  .footer__wrapper {
    justify-content: center;
  }
  .footer__logo {
    width: 225px;
    height: 80px;
    margin-bottom: 10px;
  }
}
.contacts-btn {
  display: inline-block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  cursor: pointer;
}
.contacts-btn_vk {
  background: url('../img/vk-icon.min.svg') no-repeat center, url('../img/vk-icon-orange.min.svg') no-repeat center, url('../img/vk-icon-pink.min.svg') no-repeat center;
  transition: all 0.1s linear;
}
.contacts-btn_vk:hover {
  background: url('../img/vk-icon-orange.min.svg') no-repeat center;
}
.contacts-btn_vk:active {
  background: url('../img/vk-icon-pink.min.svg') no-repeat center;
}
.contacts-btn_mail {
  background: url('../img/mail-icon.svg') no-repeat center, url('../img/mail-icon-orange.min.svg') no-repeat center, url('../img/mail-icon-pink.min.svg') no-repeat center;
}
.contacts-btn_mail:hover {
  background: url('../img/mail-icon-orange.min.svg') no-repeat center;
}
.contacts-btn_mail:active {
  background: url('../img/mail-icon-pink.min.svg') no-repeat center;
}
.contacts-btn_phone {
  background: url('../img/phone-icon.min.svg') no-repeat center, url('../img/phone-icon-orange.min.svg') no-repeat center, url('../img/phone-icon-pink.min.svg') no-repeat center;
  transition: all 0.1s linear;
}
.contacts-btn_phone:hover {
  background: url('../img/phone-icon-orange.min.svg') no-repeat center;
}
.contacts-btn_phone:active {
  background: url('../img/phone-icon-pink.min.svg') no-repeat center;
}
.footer-nav {
  display: flex;
  flex-flow: row wrap;
}
.footer-nav__items {
  list-style: none;
  text-align: left;
  margin-left: 20px;
}
.footer-nav__link {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}
.footer-nav__link:hover {
  color: #ff9900;
  border-bottom: 2px solid #f95d5d;
  transition: 0.2s ease-in;
}
.footer-nav__link:active {
  color: #f95d5d;
}
@media (max-width: 768px) {
  .footer-nav {
    margin: 30px auto 0;
  }
  .footer-nav__items {
    display: flex;
    justify-content: space-around;
    flex-basis: 731px;
    padding: 0;
    font-size: 18px;
    margin-bottom: 20px;
  }
}
@media (max-width: 708px) {
  .footer-nav {
    display: none;
  }
}
.copyright {
  text-align: left;
  font-size: 14px;
  margin: 0 0 0 14px;
}
.copyright__link {
  color: #f8f5f2;
  font-size: 14px;
}
@media (max-width: 425px) {
  .contacts__wrapper {
    margin-top: 20px;
  }
}
.checkbox {
  display: none;
}
.checkbox + label span {
  width: 40px;
  height: 40px;
  border: 2px solid #000000;
  background-color: #ffffff;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
.checkbox + label span:hover {
  border: 2px solid #ff9900;
  transition: 0.3s;
}
.checkbox + label span:active {
  border: 2px solid #f95d5d;
}
.checkbox:checked + label span::after {
  content: '';
  width: 22px;
  height: 4px;
  position: absolute;
  display: block;
  top: 17px;
  left: 12px;
  transform: rotate(135deg);
  background-color: #ff9900;
  cursor: pointer;
}
.checkbox:checked + label span::before {
  content: '';
  width: 15px;
  height: 4px;
  position: absolute;
  display: block;
  top: 20px;
  left: 5px;
  transform: rotate(51deg);
  background-color: #ff9900;
  cursor: pointer;
}
.radio-btn {
  display: none;
}
.radio-btn + label span {
  width: 40px;
  height: 40px;
  border: 2px solid #000000;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
.radio-btn + label span:hover {
  border: 2px solid #ff9900;
  transition: 0.3s;
}
.radio-btn + label span:active {
  border: 2px solid #f95d5d;
}
.radio-btn:checked + label span::after {
  position: absolute;
  top: 9px;
  left: 9px;
  width: 18px;
  height: 18px;
  content: '';
  background: #ff9900;
  border-radius: 50%;
}
.input-text {
  border: 2px solid #000000;
  padding: 13px 20px;
  border-radius: 2px;
  width: 250px;
  outline: none;
}
.input-text:hover {
  border: 2px solid #ff9900;
}
.input-text:active {
  border: 2px solid #f95d5d;
}
.input-text:focus {
  border: 2px solid #d85252;
}
.alert {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  width: 500px;
  margin-left: -250px;
  overflow: hidden;
  box-shadow: 0 5px 50px rgba(0, 0, 0, 0.7);
  z-index: 2100;
  text-align: center;
  display: none;
}
.alert_show {
  display: block;
}
.alert_success .alert__container_header {
  background-color: #ffffff;
}
.alert__container_content {
  background-color: #fff;
  padding-bottom: 20px;
}
.alert__container_header {
  padding: 30px 30px 0;
}
.alert__icon {
  display: inline-block;
  vertical-align: middle;
  width: 117px;
  height: 91px;
  background-size: contain;
}
.alert__icon_success {
  background: url('../img/success.svg') no-repeat top center;
}
.alert__title {
  display: inline-block;
  text-transform: uppercase;
  margin: 20px auto 0;
}
.alert__message {
  margin-top: 5px;
  padding: 0 5px 0;
}
@media (max-width: 768px) {
  .alert {
    margin-left: -45%;
    width: 90%;
  }
}
@media (max-width: 425px) {
  .alert__message {
    font-size: 0.95em;
    line-height: 1.3em;
  }
  .alert__icon {
    width: 100px;
    height: 100px;
  }
}
.modal-overlay_show {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1900;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  overflow: auto;
}
.appointment-form {
  max-width: 1440px;
  margin: 0 auto;
  background: url('../img/header-orange-rotate.min.svg') no-repeat center top, url('../img/footer-black-rotate.min.svg') no-repeat center bottom, #ffffff;
  background-size: 101%;
  padding-top: 120px;
  padding-bottom: 253px;
}
@media (max-width: 768px) {
  .appointment-form {
    width: 100%;
    max-width: 768px;
  }
}
@media (max-width: 425px) {
  .appointment-form {
    width: 100%;
    max-width: 425px;
    padding: 0 10px;
  }
}
.appointment-form__inner {
  padding: 0;
}
@media (max-width: 768px) {
  .appointment-form {
    padding-top: 72px;
    padding-bottom: 159px;
  }
}
@media (max-width: 625px) {
  .appointment-form {
    background-position: center top, center 100%;
  }
}
@media (max-width: 547px) {
  .appointment-form {
    padding-bottom: 65px;
  }
}
.form {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  text-align: left;
  max-width: 1100px;
  margin: 0 auto;
}
.form__title {
  font-size: 35px;
  line-height: 45px;
  font-weight: 400;
  margin: 0 0 50px;
}
.form__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 1020px;
}
.form__list_contacts,
.form__list_master,
.form__list_service {
  flex-flow: column wrap;
  max-width: 248px;
}
.form__list_hair-length,
.form__list_additional-services {
  text-align: center;
  justify-content: space-around;
}
.form__list_name {
  width: 100%;
}
.form__list-item_name {
  display: flex;
  flex-flow: column wrap;
}
.form__radio-btn,
.form__checkbox {
  position: relative;
  margin-bottom: 10px;
}
.form__radio-btn_master,
.form__checkbox_service {
  margin-right: 20px;
}
.form__legend {
  font-size: 21px;
  line-height: 31px;
  font-weight: 500;
}
.form__legend_hair-length,
.form__legend_additional-services,
.form__legend_add-info {
  text-align: center;
  padding: 20px;
  margin: 0 auto;
}
.form__label {
  font-size: 18px;
  line-height: 21px;
  cursor: pointer;
}
.form__label_hair-length,
.form__label_additional-services {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.form__input_phone {
  margin-bottom: 10px;
}
.form__input_name {
  width: 289px;
  margin-right: 39px;
}
.form__btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 98%;
  position: relative;
}
.form__btn-wrapper::after {
  content: '';
  width: 235px;
  height: 130px;
  background: url('../img/scissors-big.svg') no-repeat center;
  background-size: 90%;
  position: absolute;
  right: 0%;
  bottom: -259%;
}
@media (max-width: 700px) {
  .form__btn-wrapper::after {
    display: none;
  }
}
.form__textarea {
  width: 100%;
  resize: none;
}
.form__fieldset {
  border: none;
}
.form__fieldset_hair-length,
.form__fieldset_additional-services,
.form__fieldset_add-info {
  border-top: 1px solid #000000;
}
.form__fieldset_master {
  margin-left: 20px;
  margin-right: 20px;
}
.form__hair-icon {
  width: 76px;
  height: 121px;
  background-repeat: no-repeat;
  background-position: top;
}
.form__hair-icon_long {
  background-image: url('../img/hair-long.svg');
  background-size: cover;
}
.form__hair-icon_middle {
  background-image: url('../img/hair-middle.svg');
  background-size: 95%;
}
.form__hair-icon_short {
  background-image: url('../img/hair-short.svg');
  background-size: 75%;
}
.form__hair-icon_shortest {
  background-image: url('../img/hair-shortest.svg');
  background-size: 70%;
}
.form__correction {
  font-size: 14px;
}
.form__correction_symbol {
  color: #ff9900;
}
@media (max-width: 1040px) {
  .form {
    max-width: 90%;
  }
  .form__list {
    width: 800px;
    justify-content: space-around;
  }
  .form__list_name {
    width: 100%;
  }
  .form__input_name {
    width: 250px;
  }
}
@media (max-width: 1040px) and (max-width: 920px) {
  .form__input_name {
    margin-right: 10px;
  }
}
@media (max-width: 820px) {
  .form__list {
    width: 600px;
    font-size: 16px;
  }
  .form__list_contacts,
  .form__list_master,
  .form__list_service {
    max-width: 192px;
    align-items: flex-start;
  }
  .form__list_name {
    width: 100%;
  }
  .form__input {
    width: 190px;
  }
  .form__fieldset {
    margin-right: 0;
    margin-left: 0;
  }
  .form__label {
    font-size: 16px;
  }
  .form__radio-btn_master,
  .form__checkbox_service {
    margin-right: 0;
  }
}
@media (max-width: 768px) {
  .form__input_name {
    margin-right: 27px;
  }
}
@media (max-width: 768px) and (max-width: 672px) {
  .form__input_name {
    margin-right: 10px;
  }
}
@media (max-width: 627px) {
  .form__btn-wrapper {
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
  }
  .form__fieldset {
    border: none;
  }
  .form__fieldset_master {
    margin-left: -5px;
  }
  .form__list {
    flex-flow: column;
    align-items: center;
    width: 300px;
    text-align: center;
  }
  .form__list_contacts {
    max-width: 256px;
  }
  .form__list_name {
    flex-flow: row wrap;
    justify-content: center;
  }
  .form__title {
    text-align: center;
    font-weight: 600;
    font-size: 32px;
  }
  .form__input {
    margin-top: 5px;
    width: 300px;
    font-size: 21px;
  }
  .form__input_phone {
    margin-bottom: 0;
  }
  .form__input_name {
    margin-right: 0;
  }
  .form__list_master,
  .form__list_service {
    align-items: flex-start;
    text-align: left;
    max-width: 280px;
    margin-right: 0;
  }
  .form__list_hair-length,
  .form__list_additional-services {
    flex-flow: column wrap;
    width: 250px;
    margin: 0 18px;
    align-items: flex-start;
  }
  .form__label {
    font-size: 23px;
  }
  .form__label_hair-length,
  .form__label_additional-services {
    flex-flow: row wrap;
  }
  .form__hair-icon {
    display: none;
  }
  .form__legend {
    font-size: 25px;
    font-weight: 600;
    text-align: center;
  }
  .form__legend_add-info {
    font-size: 21px;
  }
  .form__list-item {
    margin-bottom: 15px;
  }
  .form__checkbox,
  .form__radio-btn {
    margin-right: 15px;
  }
}
@media (max-width: 573px) {
  .form__list_master,
  .form__list_service {
    max-width: 228px;
    margin: auto;
  }
  .form__list_master {
    max-width: 226px;
    margin-top: 10px;
  }
  .form__list_hair-length,
  .form__list_additional-services {
    max-width: 231px;
    margin: auto;
  }
  .form__label {
    font-size: 18px;
  }
  .form__legend {
    font-size: 22px;
  }
}
