@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&subset=cyrillic,cyrillic-ext');
  font-weight: 300, 400, 600;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/open-sans-v13-latin_cyrillic_cyrillic-ext-300.eot');
  /* IE9 Compat Modes */
  src: local('Open Sans Light'), local('OpenSans-Light'), url('../fonts/open-sans-v13-latin_cyrillic_cyrillic-ext-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/open-sans-v13-latin_cyrillic_cyrillic-ext-300.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/open-sans-v13-latin_cyrillic_cyrillic-ext-300.woff') format('woff'), /* Modern Browsers */ url('../fonts/open-sans-v13-latin_cyrillic_cyrillic-ext-300.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/open-sans-v13-latin_cyrillic_cyrillic-ext-300.svg#OpenSans') format('svg');
  /* Legacy iOS */
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v13-latin_cyrillic_cyrillic-ext-regular.eot');
  /* IE9 Compat Modes */
  src: local('Open Sans'), local('OpenSans'), url('../fonts/open-sans-v13-latin_cyrillic_cyrillic-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/open-sans-v13-latin_cyrillic_cyrillic-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/open-sans-v13-latin_cyrillic_cyrillic-ext-regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/open-sans-v13-latin_cyrillic_cyrillic-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/open-sans-v13-latin_cyrillic_cyrillic-ext-regular.svg#OpenSans') format('svg');
  /* Legacy iOS */
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/open-sans-v13-latin_cyrillic_cyrillic-ext-600.eot');
  /* IE9 Compat Modes */
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('../fonts/open-sans-v13-latin_cyrillic_cyrillic-ext-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/open-sans-v13-latin_cyrillic_cyrillic-ext-600.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/open-sans-v13-latin_cyrillic_cyrillic-ext-600.woff') format('woff'), /* Modern Browsers */ url('../fonts/open-sans-v13-latin_cyrillic_cyrillic-ext-600.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/open-sans-v13-latin_cyrillic_cyrillic-ext-600.svg#OpenSans') format('svg');
  /* Legacy iOS */
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/open-sans-v13-latin_cyrillic_cyrillic-ext-700.eot');
  /* IE9 Compat Modes */
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('../fonts/open-sans-v13-latin_cyrillic_cyrillic-ext-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/open-sans-v13-latin_cyrillic_cyrillic-ext-700.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/open-sans-v13-latin_cyrillic_cyrillic-ext-700.woff') format('woff'), /* Modern Browsers */ url('../fonts/open-sans-v13-latin_cyrillic_cyrillic-ext-700.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/open-sans-v13-latin_cyrillic_cyrillic-ext-700.svg#OpenSans') format('svg');
  /* Legacy iOS */
}
@font-face {
  font-family: 'PT Sans Narrow', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=cyrillic,cyrillic-ext');
  font-weight: 400, 700;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans Narrow', 'Arial Narrow', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=cyrillic,cyrillic-ext');
  font-weight: 400, 700;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/pt-sans-narrow-v7-latin_cyrillic_cyrillic-ext-regular.eot');
  /* IE9 Compat Modes */
  src: local('PT Sans Narrow'), local('PTSans-Narrow'), url('../fonts/pt-sans-narrow-v7-latin_cyrillic_cyrillic-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/pt-sans-narrow-v7-latin_cyrillic_cyrillic-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/pt-sans-narrow-v7-latin_cyrillic_cyrillic-ext-regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/pt-sans-narrow-v7-latin_cyrillic_cyrillic-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/pt-sans-narrow-v7-latin_cyrillic_cyrillic-ext-regular.svg#PTSansNarrow') format('svg');
  /* Legacy iOS */
}
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/pt-sans-narrow-v7-latin_cyrillic_cyrillic-ext-700.eot');
  /* IE9 Compat Modes */
  src: local('PT Sans Narrow Bold'), local('PTSans-NarrowBold'), url('../fonts/pt-sans-narrow-v7-latin_cyrillic_cyrillic-ext-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/pt-sans-narrow-v7-latin_cyrillic_cyrillic-ext-700.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/pt-sans-narrow-v7-latin_cyrillic_cyrillic-ext-700.woff') format('woff'), /* Modern Browsers */ url('../fonts/pt-sans-narrow-v7-latin_cyrillic_cyrillic-ext-700.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/pt-sans-narrow-v7-latin_cyrillic_cyrillic-ext-700.svg#PTSansNarrow') format('svg');
  /* Legacy iOS */
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  position: relative;
  min-width: 320px;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  line-height: 27px;
  background-color: #030303;
  text-align: center;
  margin: 0 auto;
  overflow-y: scroll;
  overflow-x: hidden;
}
.slider-btn {
  position: absolute;
  left: 49%;
  top: 97%;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 3px solid #ff9900;
  cursor: pointer;
  z-index: 1000;
  opacity: 0.8;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.slider-btn::after {
  content: '';
  width: 0;
  height: 0;
  border: 25px solid transparent;
  border-top: 3px solid #ff9900;
  border-right: 3px solid #ff9900;
  display: inline-block;
  position: absolute;
  top: 2px;
  left: 9px;
  transform: rotate(134deg);
}
.slider-btn:hover {
  opacity: 1;
}
.slider-btn:active {
  opacity: 0.4;
}
@media (max-width: 1024px) {
  .slider-btn {
    top: 95%;
  }
}
@media (max-width: 768px) {
  .slider-btn {
    display: none;
  }
}
.btn {
  text-decoration: none;
  border: none;
  border: 3px solid #ff9900;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
  border-radius: 2px;
  color: #e88705;
  background-color: transparent;
  text-transform: uppercase;
  padding: 5px 20px;
  padding-top: 7px;
  line-height: 26px;
  cursor: pointer;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}
.btn:hover {
  background-color: #ff9900;
  color: #ffffff;
}
.btn:active {
  opacity: 0.8;
}
.base-link {
  color: #1e1e1e;
  text-decoration: none;
  font-size: 18px;
}
.base-link:hover {
  color: #ff9900;
  text-decoration: underline;
  transition: 0.3s;
}
.base-link:active {
  color: #f95d5d;
}
.menu-open {
  display: none;
}
@media (max-width: 768px) {
  .menu-open {
    border: none;
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 28px;
    background-color: #030303;
    width: 58px;
    height: 40px;
    z-index: 1100;
    outline: none;
  }
  .menu-open__open-bar {
    display: block;
    width: 45px;
    height: 3px;
    margin-bottom: 7px;
    background-color: #ff9900;
  }
  .menu-open_hidden {
    z-index: 0;
    visibility: hidden;
  }
}
@media (max-width: 425px) {
  .menu-open {
    width: 50px;
    height: 30px;
    right: 16px;
  }
  .menu-open__open-bar {
    width: 38px;
    height: 3px;
  }
}
.close-btn {
  border: none;
  width: 58px;
  height: 40px;
  background-color: transparent;
  position: absolute;
  right: 31px;
  top: 29px;
  z-index: 1000;
  display: none;
  outline: none;
}
.close-btn::after {
  content: '';
  display: block;
  width: 30px;
  height: 4px;
  background-color: #ff9900;
  position: absolute;
  top: 8px;
  left: 19px;
  transform: rotate(41deg);
}
@media (max-width: 425px) {
  .close-btn::after {
    width: 25px;
    height: 3px;
  }
}
.close-btn::before {
  content: '';
  display: block;
  width: 30px;
  height: 4px;
  background-color: #ff9900;
  position: absolute;
  top: 8px;
  left: 18px;
  transform: rotate(137deg);
}
@media (max-width: 425px) {
  .close-btn::before {
    width: 25px;
    height: 3px;
  }
}
@media (max-width: 768px) {
  .close-btn {
    display: block;
  }
}
@media (max-width: 425px) {
  .close-btn {
    top: 18px;
    right: 10px;
    width: 50px;
    height: 30px;
  }
}
.page-header {
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  z-index: 1500;
}
@media (max-width: 1070px) {
  .page-header {
    padding: 0;
  }
}
@media (max-width: 768px) {
  .page-header {
    position: relative;
    padding: 40px 0;
    padding-bottom: 25px;
    width: 100%;
  }
}
@media (max-width: 425px) {
  .page-header {
    padding: 30px 0;
  }
}
.main-nav {
  max-width: 1440px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .main-nav {
    width: 100%;
    max-width: 768px;
  }
}
@media (max-width: 425px) {
  .main-nav {
    width: 100%;
    max-width: 425px;
    padding: 0 10px;
  }
}
.main-nav__inner {
  padding: 0;
}
.main-nav__items {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
}
.main-nav__link {
  font-size: 18px;
  text-decoration: none;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  padding: 24px;
  border-bottom: 2px solid transparent;
  animation: fade-in 2s ease;
}
.main-nav__link:hover {
  color: #ff9900;
  border-bottom: 2px solid #f95d5d;
  transition: 0.2s;
}
.main-nav__link:active {
  color: #f95d5d;
}
.main-nav__link_active {
  color: #f95d5d;
}
@media (max-width: 1147px) {
  .main-nav {
    padding-left: 10px;
    padding-right: 10px;
  }
  .main-nav__link {
    padding: 24px 8px;
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .main-nav {
    position: absolute;
    top: 70px;
    padding: 0;
    width: 100%;
    display: none;
  }
  .main-nav__items {
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: center;
  }
  .main-nav__link {
    width: 100%;
    padding: 12px 24px;
    font-size: 25px;
    line-height: 30px;
    font-weight: 500;
    background-color: #030303;
    border-bottom: 2px solid #e88705;
    border-top: 1px solid #ff9900;
    animation: none;
  }
  .main-nav_open {
    display: block;
  }
}
@media (max-width: 425px) {
  .main-nav__link {
    font-size: 20px;
    line-height: 20px;
  }
  .main-nav_open {
    top: 50px;
  }
}
.promo {
  max-width: 1440px;
  margin: 0 auto;
  background-image: url('../img/footer-black.min.svg'), url('../img/slide-1.jpg');
  background-position: center bottom, center top;
  background-repeat: no-repeat;
  background-size: 101%, cover;
  position: relative;
}
@media (max-width: 768px) {
  .promo {
    width: 100%;
    max-width: 768px;
  }
}
@media (max-width: 425px) {
  .promo {
    width: 100%;
    max-width: 425px;
    padding: 0 10px;
  }
}
.promo__inner {
  padding: 0;
}
.promo__title {
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
  display: inline-block;
  max-width: 385px;
  opacity: 0.8;
  margin: 0 auto;
}
.promo__title_main {
  font-size: 48px;
  line-height: 48px;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 20px;
  display: inline-block;
}
.promo_inner {
  background-image: url('../img/footer-orange-rotate.min.svg'), url('../img/slide-2.jpg');
  background-position: center 101%, center top;
  background-size: 101%, cover;
}
.promo__logo {
  display: block;
  margin: 0 auto;
  width: 426px;
  height: auto;
  animation: fade-in 2s ease;
}
.promo__logo_inner {
  margin-left: 160px;
}
.promo__wrapper {
  padding-top: 20%;
  padding-bottom: 19%;
}
.promo__wrapper_gallery {
  padding-bottom: 283px;
}
.promo__paginator {
  display: flex;
  flex-flow: column nowrap;
  position: fixed;
  top: 225px;
  margin-left: 1368px;
  z-index: 2500;
}
.promo__paginator-item {
  margin-bottom: 12px;
  outline: none;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
  -webkit-transform: translateZ(0);
}
.promo__paginator-item:hover {
  background-color: #f95d5d;
  border: 2px solid #f95d5d;
}
.promo__paginator-item:active {
  background-color: #ff9900;
}
.promo__paginator-item:focus {
  background-color: #ff9900;
}
.promo__paginator-item_active {
  background-color: #ff9900;
}
@media (max-width: 1024px) {
  .promo__wrapper {
    padding-bottom: 17%;
  }
  .promo__logo_inner {
    margin-left: 73px;
  }
}
@media (max-width: 768px) {
  .promo {
    background-image: url('../img/footer-black.min.svg'), url('../img/slide-1-tablet.jpg');
  }
  .promo__wrapper {
    padding: 76px 0;
  }
  .promo__logo_inner {
    width: 45%;
    margin-left: 24px;
    margin-bottom: 52px;
  }
  .promo__paginator {
    display: none;
  }
  .promo_inner {
    background-position: center bottom, right 58%;
    background-image: url('../img/footer-orange-rotate.min.svg'), url('../img/slide-2-tablet.jpg');
  }
}
@media (max-width: 425px) {
  .promo {
    background-image: none;
    padding-bottom: 20px;
  }
  .promo__wrapper {
    padding: 27px 0;
  }
  .promo__logo {
    width: 77%;
  }
  .promo__logo_inner {
    margin-left: 51px;
    margin-bottom: 44px;
  }
  .promo__logo_gallery {
    margin: 0 auto;
  }
  .promo__title {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }
  .promo__title_gallery {
    margin-left: 70px;
  }
  .promo_inner {
    background-image: url('../img/footer-orange-rotate.min.svg'), none;
  }
}
.footer {
  max-width: 1440px;
  margin: 0 auto;
  color: #ffffff;
  padding-top: 40px;
  padding-bottom: 40px;
}
@media (max-width: 768px) {
  .footer {
    width: 100%;
    max-width: 768px;
  }
}
@media (max-width: 425px) {
  .footer {
    width: 100%;
    max-width: 425px;
    padding: 0 10px;
  }
}
.footer__inner {
  padding: 0;
}
.footer__wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
.footer__logo {
  width: 288px;
  height: 97px;
  display: block;
  transition: 0.3s linear;
}
.footer__logo:hover {
  opacity: 0.8;
}
.footer__logo:active {
  opacity: 0.5;
}
@media (max-width: 425px) {
  .footer {
    padding-top: 27px;
    padding-bottom: 27px;
  }
  .footer__wrapper {
    justify-content: center;
  }
  .footer__logo {
    width: 225px;
    height: 80px;
    margin-bottom: 10px;
  }
}
.contacts-btn {
  display: inline-block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.contacts-btn_vk {
  background-image: url('../img/vk-icon.min.svg');
}
.contacts-btn_vk:hover {
  background-image: url('../img/vk-icon-orange.min.svg');
}
.contacts-btn_vk:active {
  background-image: url('../img/vk-icon-pink.min.svg');
}
.contacts-btn_mail {
  background-image: url('../img/mail-icon.svg');
}
.contacts-btn_mail:hover {
  background-image: url('../img/mail-icon-orange.min.svg');
}
.contacts-btn_mail:active {
  background-image: url('../img/mail-icon-pink.min.svg');
}
.contacts-btn_phone {
  background-image: url('../img/phone-icon.min.svg');
}
.contacts-btn_phone:hover {
  background-image: url('../img/phone-icon-orange.min.svg');
}
.contacts-btn_phone:active {
  background-image: url('../img/phone-icon-pink.min.svg');
}
.footer-nav {
  display: flex;
  flex-flow: row wrap;
}
.footer-nav__items {
  list-style: none;
  text-align: left;
  margin-left: 20px;
}
.footer-nav__link {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}
.footer-nav__link:hover {
  color: #ff9900;
  border-bottom: 2px solid #f95d5d;
  transition: 0.2s ease-in;
}
.footer-nav__link:active {
  color: #f95d5d;
}
@media (max-width: 768px) {
  .footer-nav {
    margin: 0 auto;
    margin-top: 30px;
  }
  .footer-nav__items {
    display: flex;
    justify-content: space-around;
    flex-basis: 731px;
    padding: 0;
    font-size: 18px;
    margin-bottom: 20px;
  }
}
@media (max-width: 708px) {
  .footer-nav {
    display: none;
  }
}
.copyright {
  text-align: left;
  font-size: 14px;
  margin: 0;
  margin-left: 14px;
}
.copyright__link {
  color: #f8f5f2;
  font-size: 14px;
}
@media (max-width: 425px) {
  .contacts__wrapper {
    margin-top: 20px;
  }
}
.paginator__item {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #e88705;
  opacity: 0.8;
  cursor: pointer;
}
.paginator__item_active {
  background-color: #e88705;
}
.price {
  width: auto;
  font-family: 'Arial Narrow', 'PT Sans Narrow', sans-serif;
}
@media (min-width: 768px) {
  .price {
    width: 84%;
    max-width: 960px;
    margin: 0 auto;
  }
}
.price__header {
  padding-top: 27px;
  padding-right: 38px;
  padding-bottom: 26px;
  padding-left: 38px;
  color: #000000;
  background-color: #f8f5f2;
  font-size: 43px;
}
.price__slogan {
  display: block;
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}
.price__intro {
  margin: 0;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
}
.price__legend {
  display: block;
  font-size: 14px;
  line-height: 20px;
}
.price__legend_bottom {
  padding-top: 20px;
  padding-bottom: 14px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  background-color: #f8f5f2;
}
.price__legend_top {
  display: none;
}
.price__legend__legend sup {
  top: -0.25em;
  font-size: 100%;
  text-align: left;
}
.price__items {
  width: 100%;
  border-collapse: collapse;
}
.price__items tr {
  color: #ffffff;
  background-color: #f95d5d;
}
.price__items tr:nth-child(2),
.price__items tr:nth-child(6) {
  background-color: #d85252;
}
.price__items tr:nth-child(3),
.price__items tr:nth-child(7) {
  background-color: #ff9900;
}
.price__items tr:nth-child(4),
.price__items tr:nth-child(8) {
  background-color: #e88705;
}
.price__value,
.price__field {
  width: 50%;
  padding: 20px;
  padding-bottom: 19px;
  vertical-align: top;
}
.price__value {
  padding-right: 0;
  font-size: 21px;
  line-height: 30px;
  text-align: left;
}
.price__value sup {
  top: -0.35em;
  margin-left: 5px;
}
.price__field {
  padding-left: 0;
  font-size: 25px;
  line-height: 30px;
  text-align: right;
}
.price__field_symbol {
  font-family: 'PT Sans Narrow', 'PT Sans', sans-serif;
}
.price__slider-btn {
  bottom: -28px;
}
.price__btn {
  padding: 5px 0;
  margin-top: 40px;
  display: inline-block;
  width: 230px;
}
@media (min-width: 768px) {
  .price {
    position: relative;
    z-index: 1;
  }
  .price__header {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 31px 40px;
    padding-bottom: 24px;
  }
  .price__slogan {
    width: 50%;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 40px;
    text-align: left;
    text-transform: none;
  }
  .price__intro {
    width: 37.5%;
    padding: 0;
    padding-left: 30px;
    padding-top: 4px;
    text-align: left;
  }
  .price__legend_top {
    display: block;
    width: 28%;
    color: rgba(0, 0, 0, 0.3);
  }
  .price__legend_bottom {
    display: none;
  }
  .price__items {
    display: block;
  }
  .price__items tbody {
    display: flex;
    flex-wrap: wrap;
  }
  .price__items tr {
    display: block;
    box-sizing: border-box;
    width: 50%;
    padding: 25px 35px;
    padding-bottom: 28px;
  }
  .price__value,
  .price__field {
    display: block;
    text-align: left;
    width: auto;
    padding: 0;
  }
  .price__value {
    margin-bottom: 7px;
    font-size: 35px;
    line-height: 48px;
    font-weight: bold;
  }
  .price__field {
    font-size: 27px;
    line-height: 27px;
    text-align: left;
  }
  .price__field br {
    display: none;
  }
  .price__btn {
    margin-right: 0;
    width: 320px;
  }
}
@media (min-width: 1200px) {
  .price {
    display: flex;
  }
  .price__header {
    flex-grow: 1;
    flex-direction: column;
    width: 240px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .price__slogan {
    width: auto;
    margin-bottom: 42px;
  }
  .price__intro {
    width: auto;
    margin-bottom: 32px;
    padding: 0;
  }
  .price__legend_top {
    width: auto;
    margin-top: auto;
  }
  .price__items {
    display: flex;
    flex-grow: 1;
    width: 640px;
  }
  .price__btn {
    padding: 5px 0;
    margin-top: 40px;
    margin-right: 658px;
    display: inline-block;
    width: 293px;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes fade-in-right {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@-webkit-keyframes fade-in-down {
  0% {
    -webkit-transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes fade-in-down {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@-webkit-keyframes slide-in-down {
  0% {
    -webkit-transform: translateY(-1000px);
  }
  100% {
    -webkit-transform: translateY(0px);
  }
}
@keyframes slide-in-down {
  0% {
    transform: translateY(-1000px);
  }
  100% {
    transform: translateY(0px);
  }
}
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(-2000px);
  }
  100% {
    -webkit-transform: translateX(0px);
  }
}
@keyframes slide-in-right {
  0% {
    transform: translateX(-2000px);
  }
  100% {
    transform: translateX(0px);
  }
}
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(2000px);
  }
  100% {
    -webkit-transform: translateX(0px);
  }
}
@keyframes slide-in-left {
  0% {
    transform: translateX(2000px);
  }
  100% {
    transform: translateX(0px);
  }
}
.services {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #1e1e1e;
  background-image: url('../img/header-black.min.svg'), url('../img/footer-scissors.min.svg');
  background-position: center top, center 101%;
  background-repeat: no-repeat;
  background-size: 101%;
  color: #ffffff;
  padding-bottom: 140px;
  padding-top: 160px;
  position: relative;
}
@media (max-width: 768px) {
  .services {
    width: 100%;
    max-width: 768px;
  }
}
@media (max-width: 425px) {
  .services {
    width: 100%;
    max-width: 425px;
    padding: 0 10px;
  }
}
.services__inner {
  padding: 0;
}
.services_atelier {
  background-image: url('../img/header-orange.min.svg'), url('../img/footer-needle.min.svg');
}
.services__wrapper {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: baseline;
}
.services__title {
  font-size: 41px;
  line-height: 41px;
  font-weight: 300;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 50px;
  margin-top: 0;
}
.services__btn-wrapper {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}
.services__btn {
  min-width: 250px;
  background-color: transparent;
  border: 2px solid #ff9900;
  padding-left: 0;
  padding-right: 0;
  margin: 20px 0;
  margin-bottom: 0;
  color: #ffffff;
  -webkit-transition-property: background 0.3s linear;
  -moz-transition-property: background 0.3s linear;
  -o-transition-property: background 0.3s linear;
  transition-property: background 0.3s linear;
}
.services__btn:hover {
  background-color: #ff9900;
  transition: 0.3s;
}
.services__btn:active {
  background-color: #e88705;
  color: rgba(255, 255, 255, 0.5);
}
.services__btn_atelier {
  background-color: transparent;
  border: 2px solid #f95d5d;
}
.services__btn_atelier:hover {
  background-color: #f95d5d;
  transition: 0.3s;
}
.services__btn_atelier:active {
  background-color: #d85252;
  color: rgba(255, 255, 255, 0.5);
}
.services__slider-btn {
  border-color: #1e1e1e;
  top: 96%;
}
.services__slider-btn::after {
  content: '';
  width: 0;
  height: 0;
  border: 25px solid transparent;
  border-top: 3px solid #1e1e1e;
  border-right: 3px solid #1e1e1e;
  display: inline-block;
  position: absolute;
  top: 4px;
  left: 9px;
  transform: rotate(134deg);
}
@media (max-width: 1385px) {
  .services {
    padding-top: 15%;
    padding-bottom: 12%;
  }
}
@media (max-width: 1024px) {
  .services {
    padding-top: 15%;
  }
  .services__slider-btn {
    top: 95%;
  }
}
@media (max-width: 960px) {
  .services__wrapper {
    justify-content: space-around;
  }
  .services__btn-wrapper {
    margin-right: 35px;
  }
}
@media (max-width: 768px) {
  .services__wrapper {
    padding: 0 50px;
  }
}
@media (max-width: 425px) {
  .services {
    padding-top: 64px;
    padding-bottom: 100px;
    background-position: center top, center 100%;
  }
  .services__title {
    font-size: 35px;
    line-height: 35px;
  }
  .services__wrapper {
    justify-content: center;
  }
  .services__btn-wrapper {
    margin-right: 0;
  }
}
@media (max-width: 320px) {
  .services__wrapper {
    padding: 0 7px;
  }
}
.service-item {
  flex-basis: 290px;
  text-align: left;
  position: relative;
}
.service-item__title {
  font-weight: 400;
  font-size: 28px;
  line-height: 30px;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}
.service-item__text {
  text-align: left;
}
.service-item__icon {
  width: 86px;
  height: 53px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  position: absolute;
}
.service-item__icon_scissors {
  background-image: url('../img/scissors.min.svg');
  left: 144px;
  top: -18px;
  transform: rotate(180deg);
}
.service-item__icon_brush {
  background-image: url('../img/brush.min.svg');
  right: 9px;
  top: -14px;
  transform: rotate(174deg);
}
.service-item__icon_comb {
  background-image: url('../img/comb.min.svg');
  right: 47px;
  top: -11px;
}
.service-item__icon_hanger {
  background-image: url('../img/hanger.min.svg');
  left: 143px;
  top: 6px;
}
.service-item__icon_machine {
  background-image: url('../img/machine.min.svg');
  left: 143px;
  top: 6px;
}
.service-item__icon_needle {
  background-image: url('../img/needle.min.svg');
  left: 170px;
  top: 8px;
  transform: rotate(167deg);
}
@media (max-width: 768px) {
  .service-item__text {
    font-size: 18px;
  }
}
@media (max-width: 425px) {
  .service-item {
    margin-bottom: 30px;
  }
  .service-item__icon_comb {
    right: 27px;
  }
  .service-item__icon_brush {
    right: -28px;
  }
}
@media (max-width: 320px) {
  .service-item {
    margin-bottom: 30px;
  }
  .service-item__icon_brush {
    right: 5px;
  }
}
.about-us {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #ffffff;
  background-image: url('../img/header-pink.min.svg'), url('../img/footer-black.min.svg');
  background-position: center top, center bottom;
  background-repeat: no-repeat;
  background-size: 101%;
  padding-top: 5%;
  padding-bottom: 7%;
  position: relative;
}
@media (max-width: 768px) {
  .about-us {
    width: 100%;
    max-width: 768px;
  }
}
@media (max-width: 425px) {
  .about-us {
    width: 100%;
    max-width: 425px;
    padding: 0 10px;
  }
}
.about-us__inner {
  padding: 0;
}
.about-us__title {
  margin: auto;
  margin-top: 40px;
  margin-bottom: 70px;
  font-size: 41px;
  line-height: 41px;
  font-weight: 400;
}
.about-us__wrapper {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
}
.about-us__btn-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  justify-content: space-between;
  max-height: 95px;
}
.about-us__btn {
  font-size: 16px;
  min-width: 170px;
  text-align: center;
  padding: 5px 5px;
}
.about-us__btn_top {
  border-color: #f95d5d;
  color: #d85252;
}
.about-us__btn_top:hover {
  background-color: #f95d5d;
  transition: 0.3s;
}
.about-us__btn_top:active {
  opacity: 0.6;
}
@media (max-width: 1024px) {
  .about-us__slider-btn {
    top: 97%;
  }
}
@media (max-width: 980px) {
  .about-us {
    padding-bottom: 10%;
    padding-top: 6%;
    background-position: center top, center 100%;
  }
  .about-us__btn-wrapper {
    flex-flow: row wrap;
    flex-basis: 359px;
    order: 3;
    margin-left: 15px;
    margin-right: auto;
    max-height: 45px;
  }
}
@media (max-width: 711px) {
  .about-us {
    padding-bottom: 30%;
  }
  .about-us__title {
    font-size: 35px;
    line-height: 35px;
    margin-bottom: 35px;
  }
  .about-us__btn-wrapper {
    flex-flow: row nowrap;
    margin-left: 0;
  }
  .about-us__btn {
    min-width: 145px;
  }
}
@media (max-width: 362px) {
  .about-us {
    padding-bottom: 34%;
  }
  .about-us__btn-wrapper {
    flex-wrap: wrap;
  }
  .about-us__btn {
    min-width: 100%;
    margin-bottom: 10px;
  }
}
.about-us-item {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  text-align: left;
  width: 90%;
}
.about-us-item_lenorman {
  margin-top: 50px;
}
.about-us-item__title {
  font-size: 26px;
  margin: 0;
  font-weight: 600;
}
.about-us-item__link {
  font-size: 16px;
  text-decoration: underline;
}
.about-us-item__photo {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: top, center;
  background-size: cover;
}
.about-us-item__photo_tata {
  background-image: url('../img/tata-desktop.jpg');
}
@media (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1280px) and (min-resolution: 192dpi), (min-width: 1280px) and (min-resolution: 1.5dppx) {
  .about-us-item__photo_tata {
    background-image: url('../img/tata-retina.jpg');
  }
}
.about-us-item__photo_lenorman {
  background-image: url('../img/lenorman-desktop.jpg');
}
@media (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1280px) and (min-resolution: 192dpi), (min-width: 1280px) and (min-resolution: 1.5dppx) {
  .about-us-item__photo_lenorman {
    background-image: url('../img/lenorman-retina.jpg');
  }
}
.about-us-item__text {
  max-width: 410px;
}
@media (max-width: 980px) {
  .about-us-item__text-wrapper {
    order: 1;
  }
  .about-us-item__photo {
    order: 2;
    width: 230px;
    height: 230px;
  }
  .about-us-item__photo_tata {
    background-image: url('../img/tata-tablet.jpg');
  }
  .about-us-item__photo_lenorman {
    background-image: url('../img/lenorman-tablet.jpg');
  }
  .about-us-item_lenorman {
    margin-top: 50px;
  }
}
@media (max-width: 711px) {
  .about-us-item {
    align-items: center;
  }
  .about-us-item__photo {
    order: 1;
    width: 150px;
    height: 150px;
  }
  .about-us-item__photo_tata {
    background-image: url('../img/tata-mobile.jpg');
  }
  .about-us-item__photo_lenorman {
    background-image: url('../img/lenorman-mobile.jpg');
  }
  .about-us-item__text-wrapper {
    order: 2;
  }
  .about-us-item__title {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .about-us-item__text {
    margin-bottom: 30px;
  }
  .about-us-item_lenorman {
    margin-top: 80px;
  }
}
@media (max-width: 425px) {
  .about-us-item__title {
    text-align: center;
  }
  .about-us-item__text {
    text-align: center;
  }
}
.gallery {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  padding-top: 120px;
  padding-bottom: 130px;
  background-color: #ffffff;
  background-image: url('../img/header-black.min.svg'), url('../img/footer-black.min.svg');
  background-position: center top, center bottom;
  background-repeat: no-repeat;
  background-size: 101%;
}
@media (max-width: 768px) {
  .gallery {
    width: 100%;
    max-width: 768px;
  }
}
@media (max-width: 425px) {
  .gallery {
    width: 100%;
    max-width: 425px;
    padding: 0 10px;
  }
}
.gallery__inner {
  padding: 0;
}
.gallery__wrapper {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-around;
}
.gallery__title {
  display: inline-block;
  color: #000000;
  font-size: 41px;
  line-height: 45px;
  font-weight: 400;
  margin: auto;
  margin-bottom: 30px;
  padding: 5px;
}
.gallery__btn {
  margin-top: 50px;
  display: inline-block;
}
.gallery__slider-btn {
  top: 98%;
}
.gallery__item {
  box-shadow: 6px 3px 20px -6px #4e4e4e;
  margin-top: 30px;
}
@media (max-width: 1024px) {
  .gallery {
    padding-top: 8%;
    padding-bottom: 8%;
  }
  .gallery__wrapper {
    max-width: 768px;
  }
  .gallery__slider-btn {
    top: 98.5%;
  }
}
@media (max-width: 768px) {
  .gallery {
    padding-top: 14%;
    padding-bottom: 16%;
    background-position: center top, center 100%;
  }
  .gallery__item {
    margin-top: 16px;
  }
}
@media (max-width: 425px) {
  .gallery__title {
    margin-bottom: 0;
    font-size: 35px;
  }
  .gallery__item {
    width: 90%;
  }
}
.price-container {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #ffffff;
  background-image: url('../img/header-black.min.svg'), url('../img/footer-black.min.svg');
  background-position: center top, center bottom;
  background-repeat: no-repeat;
  background-size: 101%;
  padding-top: 160px;
  padding-bottom: 150px;
  position: relative;
}
@media (max-width: 768px) {
  .price-container {
    width: 100%;
    max-width: 768px;
  }
}
@media (max-width: 425px) {
  .price-container {
    width: 100%;
    max-width: 425px;
    padding: 0 10px;
  }
}
.price-container__inner {
  padding: 0;
}
@media (max-width: 768px) {
  .price-container {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 80px;
  }
}
@media (max-width: 425px) {
  .price-container {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 50px;
    padding-bottom: 80px;
  }
}
.reviews {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #ffffff;
  background-image: url('../img/header-black.min.svg'), url('../img/footer-black.min.svg');
  background-position: center top, center bottom;
  background-repeat: no-repeat, no-repeat;
  background-size: 101%;
  padding-top: 170px;
  padding-bottom: 170px;
  position: relative;
}
@media (max-width: 768px) {
  .reviews {
    width: 100%;
    max-width: 768px;
  }
}
@media (max-width: 425px) {
  .reviews {
    width: 100%;
    max-width: 425px;
    padding: 0 10px;
  }
}
.reviews__inner {
  padding: 0;
}
.reviews__title {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  font-size: 30px;
  font-weight: 300;
}
.reviews__title_name {
  text-transform: none;
  font-weight: 700;
  font-size: 21px;
}
.reviews__text {
  flex-basis: 500px;
}
.reviews__wrapper {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.reviews__wrapper_top {
  justify-content: space-between;
  max-width: 58%;
  margin: 20px auto;
}
.reviews__photo {
  width: 140px;
  height: 140;
  border-radius: 50%;
}
.reviews__slider {
  border: none;
  padding: 80px 18px;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  opacity: 0.4;
  outline: none;
}
.reviews__slider:hover {
  opacity: 1;
  transition: 0.2s;
}
.reviews__slider:active {
  opacity: 0.6;
}
.reviews__slider_left::after {
  content: '';
  width: 0;
  height: 0;
  border: 25px solid transparent;
  border-bottom: 4px solid #1e1e1e;
  border-left: 4px solid #1e1e1e;
  position: absolute;
  top: 68px;
  left: 0;
  transform: rotate(43deg);
  display: inline-block;
}
.reviews__slider_right::after {
  content: '';
  width: 0;
  height: 0;
  border: 25px solid transparent;
  border-bottom: 4px solid #1e1e1e;
  border-left: 4px solid #1e1e1e;
  position: absolute;
  top: 68px;
  right: 0;
  transform: rotate(-136deg);
}
.reviews__paginator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
  max-width: 8%;
}
.reviews__paginator-item {
  border: 2px solid #1e1e1e;
  opacity: 0.6;
  margin-right: 8px;
}
.reviews__paginator-item:hover {
  background-color: #ff9900;
  transition: 0.2s;
}
.reviews__paginator-item:active {
  background-color: #1e1e1e;
  opacity: 1;
}
.reviews__paginator-item_active {
  background-color: #1e1e1e;
  opacity: 1;
}
.reviews__btn {
  display: inline-block;
  font-size: 16px;
  padding: 2px 13px;
  min-width: 146px;
}
.reviews__btn_bottom {
  display: none;
}
.reviews__slider-btn {
  top: -5%;
}
@media (max-width: 1024px) {
  .reviews__wrapper_top {
    max-width: 67%;
  }
}
@media (max-width: 768px) {
  .reviews {
    padding-top: 124px;
    padding-bottom: 124px;
  }
  .reviews__wrapper_top {
    max-width: 86%;
  }
  .reviews__paginator {
    max-width: 17%;
  }
  .reviews__slider {
    display: none;
  }
}
@media (max-width: 425px) {
  .reviews {
    padding-top: 55px;
    padding-bottom: 75px;
  }
  .reviews__photo {
    display: none;
  }
  .reviews__paginator {
    max-width: 28%;
  }
  .reviews__text {
    text-align: center;
    flex-basis: 320px;
  }
  .reviews__wrapper_top {
    max-width: 100%;
  }
  .reviews__btn {
    display: none;
  }
  .reviews__btn_bottom {
    display: inline-block;
    margin-top: 15px;
  }
  .reviews__title {
    margin: 0 auto;
    margin-bottom: 10px;
  }
}
.reviews-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  text-align: left;
  flex-basis: 760px;
  animation: fade-in 0.3s ease-in;
  display: none;
}
.reviews-item_visible {
  display: flex;
}
@media (max-width: 768px) {
  .reviews-item {
    flex-basis: 716px;
  }
  .reviews-item__wrapper_top {
    max-width: 82%;
  }
}
