@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&subset=cyrillic,cyrillic-ext');
  font-weight: 300, 400, 600;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/open-sans-v13-latin_cyrillic_cyrillic-ext-300.eot');
  /* IE9 Compat Modes */
  src: local('Open Sans Light'), local('OpenSans-Light'), url('../fonts/open-sans-v13-latin_cyrillic_cyrillic-ext-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/open-sans-v13-latin_cyrillic_cyrillic-ext-300.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/open-sans-v13-latin_cyrillic_cyrillic-ext-300.woff') format('woff'), /* Modern Browsers */ url('../fonts/open-sans-v13-latin_cyrillic_cyrillic-ext-300.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/open-sans-v13-latin_cyrillic_cyrillic-ext-300.svg#OpenSans') format('svg');
  /* Legacy iOS */
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v13-latin_cyrillic_cyrillic-ext-regular.eot');
  /* IE9 Compat Modes */
  src: local('Open Sans'), local('OpenSans'), url('../fonts/open-sans-v13-latin_cyrillic_cyrillic-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/open-sans-v13-latin_cyrillic_cyrillic-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/open-sans-v13-latin_cyrillic_cyrillic-ext-regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/open-sans-v13-latin_cyrillic_cyrillic-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/open-sans-v13-latin_cyrillic_cyrillic-ext-regular.svg#OpenSans') format('svg');
  /* Legacy iOS */
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/open-sans-v13-latin_cyrillic_cyrillic-ext-600.eot');
  /* IE9 Compat Modes */
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('../fonts/open-sans-v13-latin_cyrillic_cyrillic-ext-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/open-sans-v13-latin_cyrillic_cyrillic-ext-600.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/open-sans-v13-latin_cyrillic_cyrillic-ext-600.woff') format('woff'), /* Modern Browsers */ url('../fonts/open-sans-v13-latin_cyrillic_cyrillic-ext-600.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/open-sans-v13-latin_cyrillic_cyrillic-ext-600.svg#OpenSans') format('svg');
  /* Legacy iOS */
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/open-sans-v13-latin_cyrillic_cyrillic-ext-700.eot');
  /* IE9 Compat Modes */
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('../fonts/open-sans-v13-latin_cyrillic_cyrillic-ext-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/open-sans-v13-latin_cyrillic_cyrillic-ext-700.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/open-sans-v13-latin_cyrillic_cyrillic-ext-700.woff') format('woff'), /* Modern Browsers */ url('../fonts/open-sans-v13-latin_cyrillic_cyrillic-ext-700.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/open-sans-v13-latin_cyrillic_cyrillic-ext-700.svg#OpenSans') format('svg');
  /* Legacy iOS */
}
@font-face {
  font-family: 'PT Sans Narrow', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=cyrillic,cyrillic-ext');
  font-weight: 400, 700;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans Narrow', 'Arial Narrow', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=cyrillic,cyrillic-ext');
  font-weight: 400, 700;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/pt-sans-narrow-v7-latin_cyrillic_cyrillic-ext-regular.eot');
  /* IE9 Compat Modes */
  src: local('PT Sans Narrow'), local('PTSans-Narrow'), url('../fonts/pt-sans-narrow-v7-latin_cyrillic_cyrillic-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/pt-sans-narrow-v7-latin_cyrillic_cyrillic-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/pt-sans-narrow-v7-latin_cyrillic_cyrillic-ext-regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/pt-sans-narrow-v7-latin_cyrillic_cyrillic-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/pt-sans-narrow-v7-latin_cyrillic_cyrillic-ext-regular.svg#PTSansNarrow') format('svg');
  /* Legacy iOS */
}
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/pt-sans-narrow-v7-latin_cyrillic_cyrillic-ext-700.eot');
  /* IE9 Compat Modes */
  src: local('PT Sans Narrow Bold'), local('PTSans-NarrowBold'), url('../fonts/pt-sans-narrow-v7-latin_cyrillic_cyrillic-ext-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/pt-sans-narrow-v7-latin_cyrillic_cyrillic-ext-700.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/pt-sans-narrow-v7-latin_cyrillic_cyrillic-ext-700.woff') format('woff'), /* Modern Browsers */ url('../fonts/pt-sans-narrow-v7-latin_cyrillic_cyrillic-ext-700.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/pt-sans-narrow-v7-latin_cyrillic_cyrillic-ext-700.svg#PTSansNarrow') format('svg');
  /* Legacy iOS */
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  position: relative;
  min-width: 320px;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  line-height: 27px;
  background-color: #030303;
  text-align: center;
  margin: 0 auto;
  overflow-y: scroll;
  overflow-x: hidden;
}
.base-link {
  color: #1e1e1e;
  text-decoration: none;
  font-size: 18px;
}
.base-link:hover {
  color: #ff9900;
  text-decoration: underline;
  transition: 0.3s;
}
.base-link:active {
  color: #f95d5d;
}
.paginator__item {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #e88705;
  opacity: 0.8;
  cursor: pointer;
}
.paginator__item_active {
  background-color: #e88705;
}
.menu-open {
  display: none;
}
@media (max-width: 768px) {
  .menu-open {
    border: none;
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 28px;
    background-color: #030303;
    width: 58px;
    height: 40px;
    z-index: 1100;
    outline: none;
  }
  .menu-open__open-bar {
    display: block;
    width: 45px;
    height: 3px;
    margin-bottom: 7px;
    background-color: #ff9900;
  }
  .menu-open_hidden {
    z-index: 0;
    visibility: hidden;
  }
}
@media (max-width: 425px) {
  .menu-open {
    width: 50px;
    height: 30px;
    right: 16px;
  }
  .menu-open__open-bar {
    width: 38px;
    height: 3px;
  }
}
.close-btn {
  border: none;
  width: 58px;
  height: 40px;
  background-color: transparent;
  position: absolute;
  right: 31px;
  top: 29px;
  z-index: 1000;
  display: none;
  outline: none;
}
.close-btn::after {
  content: '';
  display: block;
  width: 30px;
  height: 4px;
  background-color: #ff9900;
  position: absolute;
  top: 8px;
  left: 19px;
  transform: rotate(41deg);
}
@media (max-width: 425px) {
  .close-btn::after {
    width: 25px;
    height: 3px;
  }
}
.close-btn::before {
  content: '';
  display: block;
  width: 30px;
  height: 4px;
  background-color: #ff9900;
  position: absolute;
  top: 8px;
  left: 18px;
  transform: rotate(137deg);
}
@media (max-width: 425px) {
  .close-btn::before {
    width: 25px;
    height: 3px;
  }
}
@media (max-width: 768px) {
  .close-btn {
    display: block;
  }
}
@media (max-width: 425px) {
  .close-btn {
    top: 18px;
    right: 10px;
    width: 50px;
    height: 30px;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes fade-in-right {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@-webkit-keyframes fade-in-down {
  0% {
    -webkit-transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes fade-in-down {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@-webkit-keyframes slide-in-down {
  0% {
    -webkit-transform: translateY(-1000px);
  }
  100% {
    -webkit-transform: translateY(0px);
  }
}
@keyframes slide-in-down {
  0% {
    transform: translateY(-1000px);
  }
  100% {
    transform: translateY(0px);
  }
}
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(-2000px);
  }
  100% {
    -webkit-transform: translateX(0px);
  }
}
@keyframes slide-in-right {
  0% {
    transform: translateX(-2000px);
  }
  100% {
    transform: translateX(0px);
  }
}
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(2000px);
  }
  100% {
    -webkit-transform: translateX(0px);
  }
}
@keyframes slide-in-left {
  0% {
    transform: translateX(2000px);
  }
  100% {
    transform: translateX(0px);
  }
}
.page-header {
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  z-index: 1500;
}
@media (max-width: 1070px) {
  .page-header {
    padding: 0;
  }
}
@media (max-width: 768px) {
  .page-header {
    position: relative;
    padding: 40px 0;
    padding-bottom: 25px;
    width: 100%;
  }
}
@media (max-width: 425px) {
  .page-header {
    padding: 30px 0;
  }
}
.main-nav {
  max-width: 1440px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .main-nav {
    width: 100%;
    max-width: 768px;
  }
}
@media (max-width: 425px) {
  .main-nav {
    width: 100%;
    max-width: 425px;
    padding: 0 10px;
  }
}
.main-nav__inner {
  padding: 0;
}
.main-nav__items {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
}
.main-nav__link {
  font-size: 18px;
  text-decoration: none;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  padding: 24px;
  border-bottom: 2px solid transparent;
  animation: fade-in 2s ease;
}
.main-nav__link:hover {
  color: #ff9900;
  border-bottom: 2px solid #f95d5d;
  transition: 0.2s;
}
.main-nav__link:active {
  color: #f95d5d;
}
.main-nav__link_active {
  color: #f95d5d;
}
@media (max-width: 1147px) {
  .main-nav {
    padding-left: 10px;
    padding-right: 10px;
  }
  .main-nav__link {
    padding: 24px 8px;
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .main-nav {
    position: absolute;
    top: 70px;
    padding: 0;
    width: 100%;
    display: none;
  }
  .main-nav__items {
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: center;
  }
  .main-nav__link {
    width: 100%;
    padding: 12px 24px;
    font-size: 25px;
    line-height: 30px;
    font-weight: 500;
    background-color: #030303;
    border-bottom: 2px solid #e88705;
    border-top: 1px solid #ff9900;
    animation: none;
  }
  .main-nav_open {
    display: block;
  }
}
@media (max-width: 425px) {
  .main-nav__link {
    font-size: 20px;
    line-height: 20px;
  }
  .main-nav_open {
    top: 50px;
  }
}
.promo {
  max-width: 1440px;
  margin: 0 auto;
  background-image: url('../img/footer-black.min.svg'), url('../img/slide-1.jpg');
  background-position: center bottom, center top;
  background-repeat: no-repeat;
  background-size: 101%, cover;
  position: relative;
}
@media (max-width: 768px) {
  .promo {
    width: 100%;
    max-width: 768px;
  }
}
@media (max-width: 425px) {
  .promo {
    width: 100%;
    max-width: 425px;
    padding: 0 10px;
  }
}
.promo__inner {
  padding: 0;
}
.promo__title {
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
  display: inline-block;
  max-width: 385px;
  opacity: 0.8;
  margin: 0 auto;
}
.promo__title_main {
  font-size: 48px;
  line-height: 48px;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 20px;
  display: inline-block;
}
.promo_inner {
  background-image: url('../img/footer-orange-rotate.min.svg'), url('../img/slide-2.jpg');
  background-position: center 101%, center top;
  background-size: 101%, cover;
}
.promo__logo {
  display: block;
  margin: 0 auto;
  width: 426px;
  height: auto;
  animation: fade-in 2s ease;
}
.promo__logo_inner {
  margin-left: 160px;
}
.promo__wrapper {
  padding-top: 20%;
  padding-bottom: 19%;
}
.promo__wrapper_gallery {
  padding-bottom: 283px;
}
.promo__paginator {
  display: flex;
  flex-flow: column nowrap;
  position: fixed;
  top: 225px;
  margin-left: 1368px;
  z-index: 2500;
}
.promo__paginator-item {
  margin-bottom: 12px;
  outline: none;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
  -webkit-transform: translateZ(0);
}
.promo__paginator-item:hover {
  background-color: #f95d5d;
  border: 2px solid #f95d5d;
}
.promo__paginator-item:active {
  background-color: #ff9900;
}
.promo__paginator-item:focus {
  background-color: #ff9900;
}
.promo__paginator-item_active {
  background-color: #ff9900;
}
@media (max-width: 1024px) {
  .promo__wrapper {
    padding-bottom: 17%;
  }
  .promo__logo_inner {
    margin-left: 73px;
  }
}
@media (max-width: 768px) {
  .promo {
    background-image: url('../img/footer-black.min.svg'), url('../img/slide-1-tablet.jpg');
  }
  .promo__wrapper {
    padding: 76px 0;
  }
  .promo__logo_inner {
    width: 45%;
    margin-left: 24px;
    margin-bottom: 52px;
  }
  .promo__paginator {
    display: none;
  }
  .promo_inner {
    background-position: center bottom, right 58%;
    background-image: url('../img/footer-orange-rotate.min.svg'), url('../img/slide-2-tablet.jpg');
  }
}
@media (max-width: 425px) {
  .promo {
    background-image: none;
    padding-bottom: 20px;
  }
  .promo__wrapper {
    padding: 27px 0;
  }
  .promo__logo {
    width: 77%;
  }
  .promo__logo_inner {
    margin-left: 51px;
    margin-bottom: 44px;
  }
  .promo__logo_gallery {
    margin: 0 auto;
  }
  .promo__title {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }
  .promo__title_gallery {
    margin-left: 70px;
  }
  .promo_inner {
    background-image: url('../img/footer-orange-rotate.min.svg'), none;
  }
}
.footer {
  max-width: 1440px;
  margin: 0 auto;
  color: #ffffff;
  padding-top: 40px;
  padding-bottom: 40px;
}
@media (max-width: 768px) {
  .footer {
    width: 100%;
    max-width: 768px;
  }
}
@media (max-width: 425px) {
  .footer {
    width: 100%;
    max-width: 425px;
    padding: 0 10px;
  }
}
.footer__inner {
  padding: 0;
}
.footer__wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
.footer__logo {
  width: 288px;
  height: 97px;
  display: block;
  transition: 0.3s linear;
}
.footer__logo:hover {
  opacity: 0.8;
}
.footer__logo:active {
  opacity: 0.5;
}
@media (max-width: 425px) {
  .footer {
    padding-top: 27px;
    padding-bottom: 27px;
  }
  .footer__wrapper {
    justify-content: center;
  }
  .footer__logo {
    width: 225px;
    height: 80px;
    margin-bottom: 10px;
  }
}
.contacts-btn {
  display: inline-block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.contacts-btn_vk {
  background-image: url('../img/vk-icon.min.svg');
}
.contacts-btn_vk:hover {
  background-image: url('../img/vk-icon-orange.min.svg');
}
.contacts-btn_vk:active {
  background-image: url('../img/vk-icon-pink.min.svg');
}
.contacts-btn_mail {
  background-image: url('../img/mail-icon.svg');
}
.contacts-btn_mail:hover {
  background-image: url('../img/mail-icon-orange.min.svg');
}
.contacts-btn_mail:active {
  background-image: url('../img/mail-icon-pink.min.svg');
}
.contacts-btn_phone {
  background-image: url('../img/phone-icon.min.svg');
}
.contacts-btn_phone:hover {
  background-image: url('../img/phone-icon-orange.min.svg');
}
.contacts-btn_phone:active {
  background-image: url('../img/phone-icon-pink.min.svg');
}
.footer-nav {
  display: flex;
  flex-flow: row wrap;
}
.footer-nav__items {
  list-style: none;
  text-align: left;
  margin-left: 20px;
}
.footer-nav__link {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}
.footer-nav__link:hover {
  color: #ff9900;
  border-bottom: 2px solid #f95d5d;
  transition: 0.2s ease-in;
}
.footer-nav__link:active {
  color: #f95d5d;
}
@media (max-width: 768px) {
  .footer-nav {
    margin: 0 auto;
    margin-top: 30px;
  }
  .footer-nav__items {
    display: flex;
    justify-content: space-around;
    flex-basis: 731px;
    padding: 0;
    font-size: 18px;
    margin-bottom: 20px;
  }
}
@media (max-width: 708px) {
  .footer-nav {
    display: none;
  }
}
.copyright {
  text-align: left;
  font-size: 14px;
  margin: 0;
  margin-left: 14px;
}
.copyright__link {
  color: #f8f5f2;
  font-size: 14px;
}
@media (max-width: 425px) {
  .contacts__wrapper {
    margin-top: 20px;
  }
}
.promo__wrapper {
  padding-top: 10%;
  padding-bottom: 10%;
}
.promo__paginator {
  display: none;
}
.price-container {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #1e1e1e;
  background-image: url('../img/header-black.min.svg'), url('../img/footer-black.min.svg');
  background-position: center top, center bottom;
  background-repeat: no-repeat;
  background-size: 101%;
  padding-top: 40px;
  padding-bottom: 65px;
  position: relative;
}
@media (max-width: 768px) {
  .price-container {
    width: 100%;
    max-width: 768px;
  }
}
@media (max-width: 425px) {
  .price-container {
    width: 100%;
    max-width: 425px;
    padding: 0 10px;
  }
}
.price-container__inner {
  padding: 0;
}
@media (max-width: 479px) {
  .price-container {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
  }
}
.price {
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
  font-family: 'Arial Narrow', 'PT Sans Narrow', sans-serif;
}
.price__header {
  padding-top: 27px;
  padding-right: 38px;
  padding-bottom: 26px;
  padding-left: 38px;
  color: #000000;
  background-color: #f8f5f2;
  font-size: 43px;
}
.price__slogan {
  display: block;
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}
.price__link {
  text-decoration: underline;
}
.price__intro {
  margin: 0;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
}
.price__legend {
  display: block;
  font-size: 14px;
  line-height: 20px;
}
.price__legend_bottom {
  padding-top: 20px;
  padding-bottom: 14px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  background-color: #f8f5f2;
}
.price__legend_top {
  display: none;
}
.price__legend__legend sup {
  top: -0.25em;
  font-size: 100%;
  text-align: left;
}
.price__items {
  width: 100%;
  border-collapse: collapse;
}
.price__items tr {
  color: #ffffff;
  background-color: #f95d5d;
}
.price__items tr:nth-child(odd) {
  background-color: #d85252;
}
.price__value,
.price__field {
  width: 50%;
  padding: 20px;
  padding-bottom: 19px;
  vertical-align: top;
}
.price__value {
  padding-right: 0;
  font-size: 26px;
  line-height: 30px;
  text-align: left;
}
.price__value sup {
  top: -0.35em;
  margin-left: 5px;
}
.price__field {
  padding-left: 0;
  font-size: 25px;
  line-height: 30px;
  text-align: right;
}
.price__field_symbol {
  font-family: 'PT Sans Narrow', 'PT Sans', sans-serif;
}
.price__slider-btn {
  bottom: -28px;
}
.price__btn {
  padding: 5px 0;
  margin-top: 40px;
  display: inline-block;
  width: 230px;
}
@media (max-width: 425px) {
  .price__slogan {
    font-size: 27px;
  }
  .price__intro {
    font-size: 16px;
  }
  .price__value {
    font-size: 23px;
    line-height: 22px;
  }
  .price__field {
    font-size: 21px;
    line-height: 21px;
  }
}
