@import '../../variables';

.base-link {
    color: @black_matte;
    text-decoration: none;
    font-size: 18px;

    &:hover {
        color: @orange;
        text-decoration: underline;
        transition: 0.3s;
    }

    &:active {
        color: @pink;
    }
}
