@import '../../variables';

.btn {
    text-decoration: none;
    border: none;
    border: 3px solid @orange;
    font-family: @font-family_base;
    font-size: 18px;
    font-weight: 600;
    border-radius: 2px;
    color: @orange_dark;
    background-color: transparent;
    text-transform: uppercase;
    padding: 5px 20px;
    padding-top: 7px;
    line-height: 26px;
    cursor: pointer;
    -webkit-transition-property: background;
    -moz-transition-property: background;
    -o-transition-property: background;
    transition-property: background;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;


    &:hover {
        background-color: @orange;
        color: @white;
    }

    &:active {
        opacity: 0.8;
    }

}
