@import '../../variables';

.slider-btn {
    position: absolute;
    left: 49%;
    top: 97%;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 3px solid @orange;
    cursor: pointer;
    z-index: 1000;
    opacity: 0.8;
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;

    &::after {
        content: '';
        width: 0;
        height: 0;
        border: 25px solid transparent;
        border-top: 3px solid @orange;
        border-right: 3px solid @orange;
        display: inline-block;
        position: absolute;
        top: 2px;
        left: 9px;
        transform: rotate(134deg);
    }

    &:hover {
        opacity: 1;
    }

    &:active {
        opacity: 0.4;
    }
}

@media (max-width: s@screen_laptop) {
    .slider-btn {
        top: 95%;
    }
}

@media (max-width: @screen_tablet) {
    .slider-btn {
        display: none;
    }
}
